/* global */

/* mainLayout */
.header{
    margin: var(--lumo-space-m);
}
.app-title{
    margin: var(--lumo-space-m);
    font-size: var(--lumo-font-size-l);
}
.app-title, .page-title{
    line-height: var(--lumo-size-l);
}
.page-title{
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-primary-color);
}
.page-title:hover{
    text-decoration: none;
    color: var(--lumo-header-text-color);
}


/* PasswordForm */
.password-form{
    max-width: calc(var(--lumo-size-m) * 10);
    align-self: center;
    padding: var(--lumo-space-l);
}
.content{
    display: flex;
}

/* Avatar menu Bar */
.angle-down, .user-name-angle-down{
    font-size: 0.7em;
}

/* Errors */
.error-view{
    margin: 20% auto;
    text-align: center;
}
.error-view h1{
    margin: var(--lumo-space-m);
    line-height: var(--lumo-size-l);
}

/* Edit-form*/
.form-layout{
    width: 20em;
}
.form-top-actions{
    flex-direction: row-reverse;
}
.edit-form{
    /*width: 30em;*/
}

.address-form-divider{
    padding: 16px 0px 4px 0px;
}

@media only screen and (max-width: 550px) {
    .user-name, .user-name-angle-down{
        display: none;
    }
    /*.edit-form{*/
    /*    flex-grow: 2;*/
    /*}*/
    /*.content-wrapper{*/
    /*    display: flex;*/
    /*    flex-grow: 0;*/
    /*    flex-shrink: 99999999;*/
    /*}*/
}

