/* global */
#pointer {
    cursor: pointer;
}

/* mainLayout */
.header {
    margin: var(--lumo-space-m);
}

.app-title {
    margin: var(--lumo-space-m);
    font-size: var(--lumo-font-size-l);
}

.app-title, .page-title {
    line-height: var(--lumo-size-l);
}

.page-title {
    font-size: var(--lumo-font-size-m);
    color: var(--lumo-header-text-color);
}

.page-title:hover {
    text-decoration: none;
}


/* PasswordForm */
.password-form {
    max-width: calc(var(--lumo-size-m) * 10);
    align-self: center;
    padding: var(--lumo-space-l);
}

.content {
    display: flex;
}

/* Avatar menu Bar */
.angle-down, .user-name-angle-down {
    font-size: 0.7em;
}

/* Errors */
.error-view {
    margin: 20% auto;
    text-align: center;
}

.error-view h1 {
    margin: var(--lumo-space-m);
    line-height: var(--lumo-size-l);
}

/* GridFormLayout*/
.form-layout {
    overflow: auto;
}

.form-top-actions {
    flex-direction: row-reverse;
}

.address-form-divider {
    padding: 16px 0 4px 0;
}

.form-top-actions > vaadin-button {
    margin: 0 1px;
}

.form-top-actions > vaadin-button:first-child {
    margin: 0 0 0 1px;
}

/*forms*/
.contract-products-layout {
    padding-top: 0;
    padding-bottom: 0;
}

/*notes*/
.message-input {
    padding: 0;
}

.notes-grid-layout {
    --vaadin-grid-cell-padding: 0;
}

vaadin-message {
    padding: 10px 0;
}

.notes-layout, .file-layout {
    padding-left: 0;
    padding-right: 0;
}

.message-input-helper {

}

@media only screen and (max-width: 550px) {
    .user-name, .user-name-angle-down {
        display: none;
    }
}

